.carousel-item{
    height: 38rem;}
h1{
    color: rgb(0, 0, 255);
}
#background{
background-color: rgb(255, 237, 70);
height: 100vh;
background-repeat:repeat;
background-size: cover;
border: 0%;
margin: 0%;
}
div.container-main{
    background-color: rgb(255, 237, 70);
/* padding: 10px 10px 20px 10px; */
border: 1px solid rgb(0, 196, 0);
box-shadow: 10px 10px 10px rgb(0, 196, 0);
}
div.container{
    box-shadow: 10px 10px 10px rgb(0, 196, 0);
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.affix+.container-fluid {
    padding-top: 70px;
}


/* rgb(255, 237, 70) */